{{ attach_library('unb_herbarium/herbarium_specimen') }}

{% if teaser %}
    {{ content }}
{% else %}
    <div class="specimen-details">
        <input id="toggle-widget" class="toggle-switch" type="checkbox"/>
        <label class="toggle-switch__label" data-tg-off="{% trans %}More details{% endtrans %}&nbsp;&raquo;" data-tg-on="&laquo;&nbsp;{% trans %}Less details{% endtrans %}" for="toggle-widget"></label>

        <main {{ content_attributes }}>
            <header>
                <dl>
                    <dt>{% trans %}Descriptor{% endtrans %}</dt>
                    <dd>{% trans %}Value{% endtrans %}</dd>
                </dl>
            </header>

            <section>
                <h3 class="toggle-default-off">{% trans %}Record Level{% endtrans %}</h3>
                <dl>
                    <div class="toggle-default-off">
                        <dt>{{ content.field_dwc_institutioncode|field_label }}</dt>
                        <dd>{{ content.field_dwc_institutioncode|field_value }}</dd>
                    </div>
                    <div class="toggle-default-off">
                        <dt>{{ content.field_dwc_institutionid|field_label }}</dt>
                        <dd>{{ content.field_dwc_institutionid|field_value }}</dd>
                    </div>
                    <div>
                        <dt>{{ content.field_dwc_basisofrecord|field_label }}</dt>
                        <dd>{{ content.field_dwc_basisofrecord|field_value }}</dd>
                    </div>
                    <div class="toggle-default-off">
                        <dt>{{ content.field_dwc_informationwithheld|field_label }}</dt>
                        <dd>{{ content.field_dwc_informationwithheld|field_value }}</dd>
                    </div>
                    <div class="toggle-default-off">
                        <dt>{{ content.field_dwc_datageneralizations|field_label }}</dt>
                        <dd>{{ content.field_dwc_datageneralizations|field_value }}</dd>
                    </div>
                </dl>
            </section>

            <section>
                <h3 class="toggle-default-off">{% trans %}Occurence{% endtrans %}</h3>
                <dl>
                    <div>{# UNB Accession No.#}
                        <dt>{{ content.field_dwc_record_number|field_label }}</dt>
                        <dd>{{ content.field_dwc_record_number|field_value }}</dd>
                    </div>
                    {% if content.field_collector_tid|field_label %}
                        <div>{# Collector(s) #}
                            <dt>{{ content.field_collector_tid|field_label }}</dt>
                            <dd>{{ content.field_collector_tid|field_value }}</dd>
                        </div>
                    {% endif %}
                    {% if content.field_dwc_othercatalognumbers|field_label %}
                        <div>
                            <dt>{{ content.field_dwc_othercatalognumbers|field_label }}</dt>
                            <dd>{{ content.field_dwc_othercatalognumbers|field_value }}</dd>
                        </div>
                    {% endif %}
                    {% if content.field_dwc_reproductivecondition|field_label %}
                        <div>{# Phenology #}
                            <dt>{{ content.field_dwc_reproductivecondition|field_label }}</dt>
                            <dd>{{ content.field_dwc_reproductivecondition|field_value }}</dd>
                        </div>
                    {% endif %}
                    {% if content.field_dwc_occurrenceremarks|field_label %}
                        <div class="toggle-default-off">
                            <dt>{{ content.field_dwc_occurrenceremarks|field_label }}</dt>
                            <dd>{{ content.field_dwc_occurrenceremarks|field_value }}</dd>
                        </div>
                    {% endif %}
                    {% if content.field_previous_identifications|field_label %}
                        <div>
                            <dt>{{ content.field_previous_identifications|field_label }}</dt>
                            <dd>
                                {# Mark up as list if field array contains 2+ items #}
                                {% if content.field_previous_identifications|field_value|length > 1 %}
                                    <ul>
                                        <li>{{ content.field_previous_identifications|field_value|safe_join('</li><li>') }}</li>
                                    </ul>
                                {% else %}
                                    {{ content.field_previous_identifications|field_value }}
                                {% endif %}
                            </dd>
                        </div>
                    {% endif %}
                </dl>
            </section>

            <section>
                <h3 class="toggle-default-off">{% trans %}Event{% endtrans %}</h3>
                  <dl>
                    {% if collection_date_year %}
                    <div class="toggle-default-off">
                        <dt>{% trans %}Year{% endtrans %}</dt>
                        <dd>{{ collection_date_year }}</dd>
                    </div>
                    {% endif %}
                    {% if collection_date_month %}
                        <div class="toggle-default-off">
                            <dt>{% trans %}Month{% endtrans %}</dt>
                            <dd>{{ collection_date_month }}</dd>
                        </div>
                    {% endif %}
                    {% if collection_date_day %}
                        <div class="toggle-default-off">
                            <dt>{% trans %}Day{% endtrans %}</dt>
                            <dd>{{ collection_date_day }}</dd>
                        </div>
                    {% endif %}
                    {% if content.field_dwc_eventdate|field_label %}
                        <div class="toggle-default-on">
                            <dt>{{ content.field_dwc_eventdate|field_label }}</dt>
                            <dd>{{ content.field_dwc_eventdate|field_value }}</dd>
                        </div>
                    {% endif %}
                    {% if content.field_dwc_verbatimeventdate|field_label %}
                        <div>{# Verbatim Collection Date #}
                            <dt>{{ content.field_dwc_verbatimeventdate|field_label }}</dt>
                            <dd>{{ content.field_dwc_verbatimeventdate|field_value }}</dd>
                        </div>
                    {% endif %}
                    {% if content.field_dwc_habitat|field_label %}
                        <div>
                            <dt>{{ content.field_dwc_habitat|field_label }}</dt>
                            <dd>{{ content.field_dwc_habitat|field_value }}</dd>
                        </div>
                    {% endif %}
                    {% if content.field_dwc_eventremarks|field_label %}
                        <div>{# Abundance #}
                            <dt>{{ content.field_dwc_eventremarks|field_label }}</dt>
                            <dd>{{ content.field_dwc_eventremarks|field_value }}</dd>
                        </div>
                    {% endif %}
                </dl>
            </section>

            <section>
                <h3 class="toggle-default-off">{% trans %}Location{% endtrans %}</h3>
                <dl>
                    {% if content.field_dwc_country|field_label %}
                        <div>
                            <dt>{{ content.field_dwc_country|field_label }}</dt>
                            <dd>{{ content.field_dwc_country|field_value }}</dd>
                        </div>
                    {% endif %}
                    {% if content.field_dwc_stateprovince|field_label %}
                        <div>
                            <dt>{{ content.field_dwc_stateprovince|field_label }}</dt>
                            <dd>{{ content.field_dwc_stateprovince|field_value }}</dd>
                        </div>
                    {% endif %}
                    {% if content.field_dwc_county|field_label %}
                        <div class="toggle-default-off">
                            <dt>{{ content.field_dwc_county|field_label }}</dt>
                            <dd>{{ content.field_dwc_county|field_value }}</dd>
                        </div>
                    {% endif %}
                    {% if content.field_dwc_verbatimlocality|field_label %}
                        <div>
                            <dt>{{ content.field_dwc_verbatimlocality|field_label }}</dt>
                            <dd>{{ content.field_dwc_verbatimlocality|field_value }}</dd>
                        </div>
                    {% endif %}
                    {% if content.field_dwc_decimallatitude|field_label %}
                        <div class="toggle-default-off">
                            <dt>{{ content.field_dwc_decimallatitude|field_label }}</dt>
                            <dd>{{ content.field_dwc_decimallatitude|field_value }}</dd>
                        </div>
                    {% endif %}
                    {% if content.field_dwc_decimallongitude|field_label %}
                        <div class="toggle-default-off">
                            <dt>{{ content.field_dwc_decimallongitude|field_label }}</dt>
                            <dd>{{ content.field_dwc_decimallongitude|field_value }}</dd>
                        </div>
                    {% endif %}
                    {% if content.field_dwc_coordinateprecision|field_label %}
                        <div class="toggle-default-off">
                            <dt>{{ content.field_dwc_coordinateprecision|field_label }}</dt>
                            <dd>
                                {# Strip all right-side zeros from precision value array for display #}
                                {% if content.field_dwc_coordinateprecision|field_value['0']['#markup'] matches '#\.[0-9]+$#' %}
                                    {{ content.field_dwc_coordinateprecision|field_value['0']['#markup']|trim('0', 'right') }}
                                {% else %}
                                    {{ content.field_dwc_coordinateprecision|field_value }}
                                {% endif %}
                            </dd>
                        </div>
                    {% endif %}
                    {% if content.field_dwc_georeferencedby|field_label %}
                        <div class="toggle-default-off">
                            <dt>{{ content.field_dwc_georeferencedby|field_label }}</dt>
                            <dd>{{ content.field_dwc_georeferencedby|field_value }}</dd>
                        </div>
                    {% endif %}
                    {% if content.field_geoheritage|field_label %}
                        <div class="toggle-default-off">
                            <dt>{{ content.field_geoheritage|field_label }}</dt>
                            <dd>{{ content.field_geoheritage|field_value }}</dd>
                        </div>
                    {% endif %}
                </dl>
            </section>

            <section>
                <h3 class="toggle-default-off">{% trans %}Taxon{% endtrans %}</h3>
                <dl>
                    <div class="toggle-default-off">
                        <dt>{{ specimen_full_name|field_label }}</dt>
                        <dd>{{ specimen_full_name|field_value }}</dd>
                    </div>
                    <div>
                        <dt>{% trans %}Family{% endtrans %}</dt>
                        <dd>{{ specimen_family|raw }}</dd>
                    </div>
                    <div>
                        <dt>{% trans %}Genus{% endtrans %}</dt>
                        <dd>{{ specimen_genus|raw }}</dd>
                    </div>
                    <div>{# Provide default if empty example #}
                        <dt>{{ specimen_assigned_taxon|field_label }}</dt>
                        <dd>{{ specimen_assigned_taxon|field_value }}</dd>
                    </div>
                    {% if specimen_authority|field_label %}
                        <div>{# Authority #}
                            <dt>{{ specimen_authority|field_label }}</dt>
                            <dd>{{ specimen_authority|field_value }}</dd>
                        </div>
                    {% endif %}
                    <div class="toggle-default-off">
                        <dt>{{ specimen_taxon_rank|field_label }}</dt>
                        {# Don't render Taxon Rank taxonomy page link #}
                        <dd>{{ specimen_taxon_rank|field_value|render|striptags }}</dd>
                    </div>
                    {% if specimen_infraspecific_epithet|field_label %}
                        <div>{# Authority #}
                            <dt>{{ specimen_infraspecific_epithet|field_label }}</dt>
                            <dd>{{ specimen_infraspecific_epithet|field_value }}</dd>
                        </div>
                    {% endif %}
                    {% if specimen_en_common_names|field_label %}
                        <div>
                            {% if specimen_en_common_names|field_value|length > 1 %}
                                <dt>{{ specimen_en_common_names|field_label }}s</dt>
                                <dd>
                                    <ul>
                                        <li>{{ specimen_en_common_names|field_value|safe_join('</li><li>') }}</li>
                                    </ul>
                                </dd>
                            {% else %}
                                <dt>{{ specimen_en_common_names|field_label }}</dt>
                                <dd>{{- specimen_en_common_names|field_value -}}</dd>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if specimen_fr_common_names|field_label %}
                        <div>
                            {% if specimen_fr_common_names|field_value|length > 1 %}
                                <dt>{{ specimen_fr_common_names|field_label }}s</dt>
                                <dd lang="fr">
                                    <ul>
                                        <li>{{ specimen_fr_common_names|field_value|safe_join('</li><li>') }}</li>
                                    </ul>
                                </dd>
                            {% else %}
                                <dt>{{ specimen_fr_common_names|field_label }}</dt>
                                <dd lang="fr">{{- specimen_fr_common_names|field_value -}}</dd>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if specimen_synonyms|field_label %}
                        <div class="toggle-default-off">
                            {# Mark up as list when synonym array contain 2+ items #}
                            {% if specimen_synonyms|field_value|length > 1 %}
                              <dt>{{ specimen_synonyms|field_label }}s</dt>
                              <dd>
                                <ul>
                                    <li>{{ specimen_synonyms|field_value|safe_join('</li><li>') }}</li>
                                </ul>
                              </dd>
                            {% else %}
                                <dt>{{ specimen_synonyms|field_label }}</dt>
                                <dd>{{ specimen_synonyms|field_value }}</dd>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if specimen_taxon_remarks|field_label %}
                        <div>{# Taxon Remarks #}
                            <dt>{{ specimen_taxon_remarks|field_label }}</dt>
                            <dd>{{ specimen_taxon_remarks|field_value }}</dd>
                        </div>
                    {% endif %}
                </dl>
            </section>

            <section>
                <h3 class="toggle-default-off">{% trans %}Measurement Or Fact{% endtrans %}</h3>
                <dl>
                    <div class="toggle-default-off">
                        <dt>{{ specimen_measurement_type|field_label }}</dt>
                        <dd>{{ specimen_measurement_type|field_value }}</dd>
                    </div>
                    {% if specimen_measurement_value|field_label %}
                        <div>{# Rarity Ranking #}
                            <dt>{{ specimen_measurement_value|field_label }}</dt>
                            <dd>{{ specimen_measurement_value|field_value }}</dd>
                        </div>
                    {% endif %}
                    <div class="toggle-default-off">
                        <dt>{{ specimen_measurement_id|field_label }}</dt>
                        {% if specimen_measurement_id_url %}
                            <dd>{{ specimen_measurement_id_url|raw }}</dd>
                        {% else %}
                            <dd>{{ specimen_measurement_id|field_value }}</dd>
                        {% endif %}
                    </div>
                    {% if content.field_dc_contributor_other|field_label %}
                        <div class="toggle-default-off">
                            <dt>{{ content.field_dc_contributor_other|field_label }}</dt>
                            <dd>{{ content.field_dc_contributor_other|field_value }}</dd>
                        </div>
                    {% endif %}
                    <div class="toggle-default-off">
                        <dt>{% trans %}Created{% endtrans %}</dt>
                        <dd>{{ node.createdtime|format_date('html_date') }}</dd>
                    </div>
                    <div class="toggle-default-off">
                        <dt>{% trans %}Modified{% endtrans %}</dt>
                        <dd>{{ node.changedtime|format_date('html_date') }}</dd>
                    </div>
                </dl>
            </section>
        </main>
        <aside>
            {# If view_endangered is TRUE then use unmasked image field else use masked version #}
            {% set specimen_image = view_endangered ? content.field_large_sample_surrogate : content.field_large_sample_surrogate_msk %}
            {% if specimen_image|field_value %}
              <figure>
                  {{ specimen_image }}
                  <figcaption>{% trans %}Click specimen image to enlarge{% endtrans %}</figcaption>
              </figure>
            {% endif %}

            {% if content.field_gmap %}
                <div class="gmap">
                    {{ content.field_gmap|field_value }}
                </div>
            {% endif %}
        </aside>
    </div>
{% endif %}
